/hypr/scheme/current.conf
/hypr/scheme/current.lua
/hypr/hyprland.conf

/spicetify/config-xpui.ini
/spicetify/Themes/caelestia/color.ini

/btop/btop.log
/btop/themes/

/fish/fish_variables
/fish/conf.d/

.SRCINFO

/zen/caelestia-firefox-integration/dist/
/zen/caelestia-firefox-integration/node_modules/

/bootstrap/pkgbuilds/*/pkg/
/bootstrap/pkgbuilds/*/src/
/bootstrap/pkgbuilds/*/*.pkg.tar*
/packages/*/pkg/
/packages/*/src/
/packages/*/*.pkg.tar*
