/hypr/scheme/current.conf
/hypr/scheme/current.lua

/spicetify/config-xpui.ini
/spicetify/Themes/caelestia/color.ini

/btop/btop.log
/btop/themes/

/fish/fish_variables
/fish/conf.d/

.SRCINFO
!bootstrap/pkgbuilds/caelestia-shell-fork/.SRCINFO
!bootstrap/pkgbuilds/sddm-pixel-sakura/.SRCINFO
!packages/caelestia-firefox-theme/.SRCINFO

bootstrap/pkgbuilds/*/src/
bootstrap/pkgbuilds/*/pkg/
bootstrap/pkgbuilds/*/*.pkg.tar.*
bootstrap/pkgbuilds/caelestia-shell-fork/caelestia-shell-fork/
